{% if users is defined %}
<table border="1">
	<tr>
		<th>User Name</th>
		<th>Group Name</th>
	</tr>
{% for user in users %}
<tr>
	<td>{{ user.name }}</td>
	{% for gp in user.groups %}
	<td>
	{{ gp.name }}
	</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}

{% if groups is defined %}
<table border="1">
	<tr>
		<th>Group Name</th>
		<th>User Name</th>
	</tr>
{% for group in groups %}
<tr>
	<td>{{ group.name }}</td>
	{% for user in group.users %}
	<td>
	{{ user.name }}
	</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}